<!DOCTYPE html>
<html lang="en">
<head>
    <head>

	<title>CSS Zen Garden by BOKOR ATTILA. fully responsive with html5 and CSS#</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='style_homework.css') }}" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body class="body">


<header class="mainHeader">
    <h1>SQL DATABASE</h1>

</header>


<div class="mainContent">
    <div class="list_body">
		<p>
		
		<button name="new_question" onclick="location.href='/mentors'" type="button">QUERY 1</button>
		<button name="new_question" onclick="location.href='/all-school'" type="button">QUERY 2</button>
		<button name="new_question" onclick="location.href='/mentors-by-country'" type="button">QUERY 3</button>
		<button name="new_question" onclick="location.href='/contacts'" type="button">QUERY 4</button>
		<button name="new_question" onclick="location.href='/applicants'" type="button">QUERY 5</button>
		<button name="new_question" onclick="location.href='/applicants-and-mentors'" type="button">QUERY 6</button>
		
		</p>

		<p class="post-info">
		"QUERY 1: Mentors and school page /mentors" <br>
		"QUERY 2: All school page /all-school" <br>
		"QUERY 3: Contacts page /mentors-by-country" <br>
		"QUERY 4: Contacts page /contacts" <br>
		"QUERY 5: Applicants page /applicants" <br>
		"QUERY 6: Applicants and mentors page /applicants-and-mentors" <br>


		</p>

    </div>
</div>


<footer class="mainFooter">

<p>Copyright &copy; BOKOR ATTILA CoDeCoOlL</p>


</footer>


</body>
</html>