<!DOCTYPE html>
<html lang="en">
<head>
    <head>

	<title>CSS Zen Garden by BOKOR ATTILA. fully responsive with html5 and CSS#</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='style_homework.css') }}" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body class="blue_body">


<header class="mainHeader">
    <h1>SQL DATABASE</h1>

</header>


<!--<div class="mainContent">-->
    <!--<div class="list_body">-->
        <section>
        <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                {% for header in questions['header'] %}
                <th>
                    {{header}}
                </th>
                {% endfor %}
            </tr>
            </thead>
        </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
            {% for row in questions['result_set'] %}
            <tr>
                {% for data in row %}
                <td>{{ data }}</td>
                {% endfor %}
            {% endfor %}
            </tr>
                </tbody>
            </table>
        </div>
        </table>
        </section>
    </div>
</div>


<footer class="mainFooter">
    <button name="{{ form_action }}" onclick="location.href='{{ form_action }}'" type="button">{{ button_caption }}</button>

<p>Copyright &copy; BOKOR ATTILA CoDeCoOlL</p>


</footer>


</body>
</html>